export(
bcrm,
Posterior.exact,
Posterior.BRugs,
Posterior.R2WinBUGS,
Posterior.rjags,
getprior,
find.x,
threep3
)

import(
ggplot2,
mvtnorm
)

S3method(print, bcrm)
S3method(print,bcrm.sim)
S3method(print,threep3)
S3method(plot, bcrm)
S3method(plot, bcrm.sim)
S3method(plot,threep3)
